html{
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  min-width: 584px;
  margin: 0;
  padding-top: 1rem;
  font-family: sans-serif;
  background-color: rgb(14, 26, 0);
}

.App{
  width: 584px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid{
  width: 552px;
  line-height: 0;
  background-color: rgb(128, 0, 0);
  padding: 16px;
  border-radius: .75rem;
  box-shadow: 0 0 20px 10px #000000;
}
.borderWrap{
  border: 1px solid rgb(201, 20, 129);
}
.gridSquare{
  display: inline-block;
  background-color: rgb(54, 0, 42);
  width: 20px;
  height: 20px;
  border: 1px solid rgb(201, 20, 129);
}
.on{
  background-color: rgb(234, 248, 106);
}

button,
.gen{
  outline: none;
  margin-top: 1.5rem;
  background-color: rgb(234, 248, 106);
  font-size: 1.5rem;
  border: 2px solid;
  border-radius: 9px;
  line-height: 1;
  padding: 0.3rem 0.3rem 0.5rem;
}
button+button{
  margin-left: 0.75rem;
}
.gen{
  font-family: monospace;
  margin-right: 0.75rem;
  background-color: rgb(201, 20, 129);
  box-shadow: inset 0 0 16px 3px rgba(0, 0, 0, 0.39);
}

p{
  text-align: center;
  margin: 1rem 0;
  color: rgb(84, 124, 4);
}